<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135979821993-9dtbkcab83u8bd1m4qusacgauqdi838j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135979821993-9dtbkcab83u8bd1m4qusacgauqdi838j</string>
	<key>API_KEY</key>
	<string>AIzaSyDL-vR4xru5v1triuqzjBJs74bwNWJAU84</string>
	<key>GCM_SENDER_ID</key>
	<string>135979821993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classRoom</string>
	<key>PROJECT_ID</key>
	<string>class-room-b7ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>class-room-b7ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135979821993:ios:3b940506d967303962f2b8</string>
</dict>
</plist>